@model Proyecto3V3_Camilo_P_Diego_M.Models.Paciente

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Paciente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rut" class="control-label"></label>
                <input asp-for="Rut" class="form-control" />
                <span asp-validation-for="Rut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pago" class="control-label"></label>
                <input asp-for="Pago" class="form-control" />
                <span asp-validation-for="Pago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Problema" class="control-label"></label>
                <input asp-for="Problema" class="form-control" />
                <span asp-validation-for="Problema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HistoriaClínica" class="control-label"></label>
                <input asp-for="HistoriaClínica" class="form-control" />
                <span asp-validation-for="HistoriaClínica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NúmeroDeCasa" class="control-label"></label>
                <input asp-for="NúmeroDeCasa" class="form-control" />
                <span asp-validation-for="NúmeroDeCasa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calle" class="control-label"></label>
                <input asp-for="Calle" class="form-control" />
                <span asp-validation-for="Calle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ciudad" class="control-label"></label>
                <input asp-for="Ciudad" class="form-control" />
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaId" class="control-label"></label>
                <select asp-for="SalaId" class ="form-control" asp-items="ViewBag.SalaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Idambul" class="control-label"></label>
                <select asp-for="Idambul" class ="form-control" asp-items="ViewBag.Idambul"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
