@model Proyecto3V3_Camilo_P_Diego_M.Models.Doctor

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Doctor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Especialización" class="control-label"></label>
                <input asp-for="Especialización" class="form-control" />
                <span asp-validation-for="Especialización" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="HorarioDeAtención">Horario de atención</label>
                <input asp-for="HorarioDeAtención" class="form-control" />
                <span asp-validation-for="HorarioDeAtención" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rut" class="control-label"></label>
                <input asp-for="Rut" class="form-control" />
                <span asp-validation-for="Rut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="NúmeroDeCasa">Número de casa</label>
                <input asp-for="NúmeroDeCasa" class="form-control" />
                <span asp-validation-for="NúmeroDeCasa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calle" class="control-label"></label>
                <input asp-for="Calle" class="form-control" />
                <span asp-validation-for="Calle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ciudad" class="control-label"></label>
                <input asp-for="Ciudad" class="form-control" />
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
